page-contact {
  h3{
    color: white;
  }
  .button-div {
    display: flex;
    margin-left: 15%;
    margin-top: 15%;
    .btn-classification {
      background-color: white;
      color: black;
    }
  }
}
